body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    color: #444;
    margin-bottom: 10px;
}

#blog {
    padding: 20px;
    background-color: #ffffff;
    max-width: 800px;
    margin: auto;
}

.blog-post {
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

header {
    position: sticky;
    top: 0;
    background-color: #B19CD9;
    color: white;
    padding: 10px;
}

.container {
    display: flex;
}
.main-content {
    flex: 2;
    padding: 20px;
}
.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 15px;
}

.float-image {
    float: right;
    margin: 10px;
    width: 200px; /* Adjust as needed */
}

.caption {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

form p {
    flex: 1 1 calc(50% - 10px); /* Adjust width to 50% */
}

form button {
    flex: 1 1 100%; /* Make button full width */
}
